@model List<food_menu.Models.Dish>
@{
    ViewData["Title"] = "MenuIndex";

}

<div class="container">
    <div class="row">
        @foreach(var item in Model)
        {
            <div class="col-6">
                <div>
                    @item.Name
                </div>
                <div>
                    @item.Price
                </div>
               
            </div>
        }
    </div>
</div>
